<footer class="flex flex-wrap justify-between align-middle mt-5">
    <div class="text-white sm:text-xl text-xs sm:w-56 w-28">
        <img class="sm:h-16 h-8 mb-3" src="./img/Jssn_movie.png" alt="">

        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Corporis, distinctio quaerat. </p>
    </div>
    <div class="text-white sm:text-xl text-xs sm:w-56 w-28 p-3">
        <h1 class="mb-3 sm:text-xl text-base font-extrabold">COMPANY</h1>
        <p>HOME</p>
        <p>COMENT</p>
        <p>ABOUT</p>
        <p>CONTACT</p>
    </div>

    <div class="text-white sm:text-xl text-xs sm:w-56 w-28 p-3">
        <h1 class="mb-3 sm:text-xl text-base font-extrabold">GET IN TOUCH</h1>
        <p>+6287895031524</p>
        <p>JssN-movie@JssN.com</p>
    </div>
</footer>