<nav class="flex h-20 border-b-2 border-white sm:justify-evenly justify-between items-center mb-5">
    <a href="/">
        <img class="sm:h-14 h-9" src="img/Jssn_movie.png" alt="logoJssN" />
    </a>
    <div
        class="text-white w-96 text-base font-bold sm:flex hidden list-none justify-around">
        <li>
            <a class="hover:text-red-400 active:text-red-500 cursor-pointer" href="/">HOME</a>
        </li>
        <li>
            <a class="hover:text-red-400 active:text-red-500 cursor-pointer" href="">COMMENT</a>
        </li>
        <li>
            <a class="hover:text-red-400 active:text-red-500 cursor-pointer" href="/about">ABOUT</a>
        </li>
        <li>
            <a class="hover:text-red-400 active:text-red-500 cursor-pointer" href="">CONTACT</a>
        </li>
    </div>

    <a href="#" class="text-white mr-5 sm:hidden block" id="menu"><i data-feather="menu"></i></a>
</nav>

<div id="navbar-extra" class="hidden text-sm bg-slate-800 w-1/2 h-64 p-5 absolute -right-2 text-white rounded-s font-bold">
    <ul class="list-none">
        <li class="mb-8 hover:border-b-2 transition-all delay-100 border-b-red-400">
            <a href="">HOME</a>
        </li>
        <li class="mb-8 hover:border-b-2 transition-all delay-100 border-b-red-400">
            <a href="">MOVIE</a>
        </li>
        <li class="mb-8 hover:border-b-2 transition-all delay-100 border-b-red-400">
            <a href="">ABOUT</a>
        </li>
        <li class="mb-8 hover:border-b-2 transition-all delay-100 border-b-red-400">
            <a href="">CONTACT</a>
        </li>
    </ul>
</div>
