<div class="block sm:text-5xl text-base m-auto w-3/4 mb-4 mt-8">
    <div class="flex justify-center border-t-4 border-gray-900 py-5">
        <h1 class="text-red-400">ABOUT US</h1>
        <p class="text sm:mt-5 mt-2 ml-2 md:w-24 w-8 sm:h-[5px] h-[2px] bg-[#ffff]"></p>
    </div>
    <div class="flex justify-between border border-white mt-8 w-3/4 m-auto">
        <img class="h-96" src="./img/poster.png" alt="">
        <div class="text-white text-base w-96 py-10">
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Fuga voluptates totam eius magni nam, vel quidem accusantium esse adipisci non sed eos asperiores perferendis repellendus officiis amet cum, aliquam quisquam!</p>
            <br>
            <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Dolorem alias cupiditate, iusto error quaerat a?</p>
            <br>
            <h3 class="font-bold text-red-400 text-xl">OUR MISSION</h3>
            <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Ea, vitae.</p>

        </div>
    </div>

    <div class="mt-8">
        <div class="flex justify-center py-5">
            <h1 class="text-red-400">WHY CHOOSE US</h1>
            <p class="text sm:mt-5 mt-2 ml-2 md:w-24 w-8 sm:h-[5px] h-[2px] bg-[#ffff]"></p>
        </div>
        <div class="flex flex-wrap mt-8 ">
            <div class="w-80 border border-white text-base text-white p-8 text-center">
                <h2 class="mb-3 text-xl font-bold text-red-400">Quality Assurance:</h2>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Cumque in deleniti dicta voluptas sapiente impedit nisi dolorum ut quibusdam similique?</p>
            </div>
            <div class="w-80 border border-white text-base text-white p-8 text-center">
                <h2 class="mb-3 text-xl font-bold text-red-400">Quality Assurance:</h2>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Cumque in deleniti dicta voluptas sapiente impedit nisi dolorum ut quibusdam similique?</p>
            </div>
            <div class="w-80 border border-white text-base text-white p-8 text-center">
                <h2 class="mb-3 text-xl font-bold text-red-400">Quality Assurance:</h2>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Cumque in deleniti dicta voluptas sapiente impedit nisi dolorum ut quibusdam similique?</p>
            </div>
        </div>
    </div>

    <div>
        <h1 class="text-xl text-yellow-500 ">SUBCRIBE NOW & GET 20% OFF</h1>
        <h3>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Rerum, necessitatibus.</h3>
        <input type="search" class="input-keyword block p-2.5 w-full z-20 text-sm text-gray-900 bg-gray-50 rounded-e-lg border-s-gray-50 border-s-2 border border-gray-300 focus:ring-blue-500 focus:border-blue-500 dark:bg-gray-700 dark:border-s-gray-700  dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:border-blue-500" placeholder="Search Movie" required />
        <button type="submit" class="search-button absolute top-0 end-0 p-2.5 text-sm font-medium h-full text-white bg-pink-700 rounded-e-lg border border-pink-700 hover:bg-pink-800 focus:ring-4 focus:outline-none focus:ring-pink-300 dark:bg-pink-600 dark:hover:bg-pink-700 dark:focus:ring-pink-800">
    </div>
</div>