<div>
    <img src="./img/mainBg.jpg" alt="" />
    <div
        class="sm:text-5xl text-base font-extrabold absolute sm:top-80 sm:left-20 left-10 top-32">
        <h2 class="text-yellow-400">FIND YOUR</h2>
        <h2 class="text-yellow-400">FAVORITE FILM</h2>
        <h1 class="text-red-400 bg-white w-fit px-2 rounded">IN HERE!</h1>
    </div>
</div>
<div class="text-white mt-5 sm:text-xl text-xs pt-9">
    <div class="flex sm:text-5xl text-base m-auto w-fit mb-4">
        <h1>BEST <span class="text-red-400">FILM</span></h1>
        <p class="text sm:mt-5 mt-2 ml-2 md:w-24 w-8 sm:h-[5px] h-[2px] bg-[#ffff]"></p>
    </div>
    <p class="text-center sm:text-base text-xs">kumpulan film terlaris tahun ini. Jangan lupa tinggalkan komen!</p>

    <div class="relative w-full mt-5">
        <input type="search" class="input-keyword block p-2.5 w-full z-20 text-sm text-gray-900 bg-gray-50 rounded-e-lg border-s-gray-50 border-s-2 border border-gray-300 focus:ring-blue-500 focus:border-blue-500 dark:bg-gray-700 dark:border-s-gray-700  dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:border-blue-500" placeholder="Search Movie" required />
        <button type="submit" class="search-button absolute top-0 end-0 p-2.5 text-sm font-medium h-full text-white bg-pink-700 rounded-e-lg border border-pink-700 hover:bg-pink-800 focus:ring-4 focus:outline-none focus:ring-pink-300 dark:bg-pink-600 dark:hover:bg-pink-700 dark:focus:ring-pink-800">
            <svg class="w-4 h-4" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 20 20">
                <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="m19 19-4-4m0-7A7 7 0 1 1 1 8a7 7 0 0 1 14 0Z"/>
            </svg>
            <span class="sr-only">Search</span>
        </button>
    </div>

    <div class="movie-container flex flex-wrap sm:justify-between justify-center mt-16">    
    </div>
</div>
