<div>
    <img src="./img/mainBg.jpg" alt="">
    <div class="sm:text-5xl text-base font-extrabold absolute sm:top-80 sm:left-20 left-8 top-36">
        <h2 class="text-yellow-400">FIND YOUR</h2>
        <h2 class="text-yellow-400">FAVORITE FILM</h2>
        <h1 class="text-red-700 bg-white w-fit px-2 rounded">IN HERE!</h1>
    </div>
</div>
<div>
    <h1>BEST FILM</h1>
</div>
